.idea
.sass-cache
*.css.map
statics/media
tiempoturco/__pycache__
error.log
statics/tiempoturco/app
statics/tiempoturco/.sass-cache
statics/tiempoturco/node_modules
statics/tiempoturco/.bowerrc
statics/tiempoturco/README.md
statics/tiempoturco/.jshintrc
statics/tiempoturco/.gitignore
statics/tiempoturco/bower.json
statics/tiempoturco/Gruntfile.js
statics/tiempoturco/package.json
statics/tiempoturco/.yo-rc.json
statics/tiempoturco/.tmp