{% extends 'base.html'%}
{% load thumbnail %}
{% load static from staticfiles %}
{% load news %}
{% block titlepage %}
<title>Palabras claves en {{ site.name }}</title>
<meta property="og:title" content="Palabras claves en {{ site.name }}"/>
{% endblock %}
{% block newsa %}
<meta content="{{ meta_author }}" name="author"/>
<meta property="article:author" content="{{ meta_author }}"/>
{% endblock %}
{% block newsd %}
<meta content="Palabras clave publicadas en Tiempo Turco" name="description"/>
<meta property="og:description" content="Palabras clave publicadas en Tiempo Turco"/>
{% endblock %}
{% block newsk %}{{ site.name }},{{ meta_today_keys }}{% endblock %}
{% block slidermenu%}
<li id="slider" class="show-for-medium-up news-slider">
    <ul id="ulslider" class="" data-orbit data-options="
        pause_on_hover:false;
        slide_number_text:de;
        timer_show_progress_bar: false;
        bullets: false;
        slide_number: false" style="height: 3.75rem !important;">
        {% for new in lnews %}
        <li data-orbit-slide="headline-{{forloop.counter}}">
            <div>
                <a class="left"
                   href="{% url 'NewsDefaultView' new.created_date|date:'Y' new.created_date|date:'m' new.created_date|date:'d' new.slug %}">
                    <time datetime="{{ new.created_date|date:'Y-m-d H:i:s' }}">{{ new.created_date|date:'H:i:s' }}
                    </time>
                    <h2>{{new.title|truncatewords:'8'}}</h2>
                </a>
                <a class="share-popup gn-icon-other nopadding gn-icon-facebook"
                   href="http://www.facebook.com/sharer.php?u=http://{{ site.domain }}{% url 'NewsDefaultView' new.created_date|date:'Y' new.created_date|date:'m' new.created_date|date:'d' new.slug %}&t={{ news.title }}"
                   target="_blank"></a>
                <a class="share-popup gn-icon-other nopadding gn-icon-twitter"
                   href="http://twitter.com/share?url=http://{{ site.domain }}{% url 'NewsDefaultView' new.created_date|date:'Y' new.created_date|date:'m' new.created_date|date:'d' new.slug %}&t={{ new.title }}&text={{ new.title }}"
                   target="_blank"></a>
            </div>
        </li>
        {% empty %}
        <p>No hay noticias disponibles.</p>
        {% endfor %}
    </ul>
</li>
{% endblock %}
{% block newscontent %}
<h1 class="text-center">Palabras Clave</h1>
<div class="row">
    <article class="small-12 large-9 columns">
        <ul class="tags">
            <div class="row" style="padding: 2px 0">
                {% for keyword in object_list %}
                <li class="small-6 medium-4 large-3 column"><a
                        href="{% url 'KeyWordsNewsView' keyword.slug %}">{{ keyword.name }}</a></li>
                {% if forloop.counter|divisibleby:'4' %}
            </div>
            <div class="row" style="padding: 2px 0">
                {% endif %}
                {% empty %}
                <p> No existen palabras claves en este momento. </p>
                {% endfor %}
            </div>
        </ul>
        {% if is_paginated %}
        <div class="pagination-centered">
            <ul class="pagination">
                {% if page_obj.has_previous %}
                <li class="arrow"><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
                {% else %}
                <li class="arrow unavailable"><a href="">&laquo;</a></li>
                {% endif %}
                {% for page_num in paginator.page_range %}
                <li
                {% if page_num == page_obj.number %} class="current" {% endif %} >
                    <a href="?page={{ page_num }}">{{ page_num }}</a></li>
                {% endfor %}
                {% if page_obj.has_next %}
                <li class="arrow"><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
                {% else %}
                <li class="arrow unavailable"><a href="">&raquo;</a></li>
                {% endif %}
            </ul>
        </div>
        {% endif %}
    </article>
    <div class="small-10 large-3 columns articles-news">
        <h2>Recomendados</h2>
        {% for new in rnews %}
        <div data-article="">
            <a data-event="tile"
               href="{% url 'NewsDefaultView' new.created_date|date:'Y' new.created_date|date:'m' new.created_date|date:'d' new.slug %}">
                {% thumbnail new.first_image.image "150x150" as im %}
                <img src="{{ im.url }}" title="{{ new.first_image.name }}" alt="{{ new.first_image.name }}"/>
                {% empty %}
                <img src="{% static 'tiempoturco/app/images/no-image.png' %}" width="150" title="{{ new.title }}"
                     alt="{{ new.title }}"/>
                {% endthumbnail %}
                <h3>{{ new.title }}</h3>
            </a>
        </div>
        {% empty %}
        <p>No hay noticias recomendadas disponibles.</p>
        {% endfor %}
        <h2>Más</h2>
        {% for new in mnews %}
        <div data-article="">
            <a data-event="tile"
               href="{% url 'NewsDefaultView' new.created_date|date:'Y' new.created_date|date:'m' new.created_date|date:'d' new.slug %}">
                <h3>{{ new.title }}</h3>
            </a>
        </div>
        {% empty %}
        <p>No hay mas noticias importantes noticias disponibles.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}