{% extends 'base.html'%}
{% load thumbnail embed_video_tags news %}
{% load static from staticfiles %}
{% block titlepage %}
<title>{{ name|title }}</title>
<meta property="og:title" content="{{ name|title }}"/>
{% endblock %}
{% block newsa %}
<meta content="{{ meta_author }}" name="author"/>
<meta property="article:author" content="{{ meta_author }}"/>
{% endblock %}
{% block newsd %}
<meta content="Noticias con la palabra clave {{ name }} publicadas en {{ site.name }}" name="description"/>
<meta property="og:description" content="Noticias con la palabra clave {{ name }} publicadas en {{ site.name }}"/>
{% endblock %}
{% block newsk %}{{ name }},{{ meta_today_keys }}{% endblock %}
{% block slidermenu%}
<li id="slider" class="show-for-medium-up news-slider">
    <ul id="ulslider" class="" data-orbit data-options="
        pause_on_hover:false;
        slide_number_text:de;
        timer_show_progress_bar: false;
        bullets: false;
        slide_number: false" style="height: 3.75rem !important;">
        {% for new in lnews %}
        <li data-orbit-slide="headline-{{forloop.counter}}">
            <div>
                <a class="left"
                   href="{% url 'NewsDefaultView' new.created_date|date:'Y' new.created_date|date:'m' new.created_date|date:'d' new.slug %}">
                    <time datetime="{{ new.created_date|date:'Y-m-d H:i:s' }}">{{ new.created_date|date:'H:i:s' }}
                    </time>
                    <h2>{{new.title|truncatewords:'8'}}</h2>
                </a>
                <a class="share-popup gn-icon-other nopadding gn-icon-facebook"
                   href="http://www.facebook.com/sharer.php?u=http://{{ site.domain }}{% url 'NewsDefaultView' new.created_date|date:'Y' new.created_date|date:'m' new.created_date|date:'d' new.slug %}&t={{ news.title }}"
                   target="_blank"></a>
                <a class="share-popup gn-icon-other nopadding gn-icon-twitter"
                   href="http://twitter.com/share?url=http://{{ site.domain }}{% url 'NewsDefaultView' new.created_date|date:'Y' new.created_date|date:'m' new.created_date|date:'d' new.slug %}&t={{ new.title }}&text={{ new.title }}"
                   target="_blank"></a>
            </div>
        </li>
        {% empty %}
        <p>No hay noticias disponibles.</p>
        {% endfor %}
    </ul>
</li>
{% endblock %}
{% block newscontent %}
<h1 class="text-center">{{ name }}</h1>
<div class="row articles-news">
    <div class="small-12 large-9 columns">
        {% for new in object_list %}
        <article class="p-normalize keys">
            <header>
                <!-- Cabezera del articulo -->
                <div class="row">
                    <div class="small-12 medium-9 large-10 columns">
                        <h1>{{ new.title }}</h1>
                    </div>
                    <div class="small-12 medium-3 large-2 columns">
                        <h2><a href="{% url 'TopicNewsView' new.topic.slug %}">{{ new.topic }}</a></h2>

                        <h3><a href="{% url 'SubTopicNewsView' new.subtopic.slug %}">{{ new.subtopic }}</a></h3>
                    </div>
                </div>
            </header>
            <div class="row">
                <figure class="small-10 large-4 columns text-center">
                    {% if new.get_video %}
                    <div class="flex-video player-video">
                        {% video new.get_video.video "medium" %}
                    </div>
                    {% else %}
                    {% thumbnail new.first_image.image "150" as im %}
                    <img src="{{ im.url }}" title="{{ new.first_image.name }}" alt="{{ new.first_image.name }}"/>
                    {% empty %}
                    <img src="{% static 'tiempoturco/dist/images/no-image.png' %}" width="150" title="{{ new.title }}"
                     alt="{{ new.title }}"/>
                    {% endthumbnail %}
                    {% endif %}
                </figure>
                <div class="small-12 large-8 columns">
                    <section class="row">
                        <p class="review">{{ new.content|truncatewords:100|safe }}<a
                                href="{% url 'NewsDefaultView' new.created_date|date:'Y' new.created_date|date:'m' new.created_date|date:'d' new.slug %}">Leer
                            mas...</a></p>

                        <ul class="tags">
                            {% if new.keywords.all %}
                            {% for keywords in new.keywords.all %}
                            <li><a href="{% url 'KeyWordsNewsView' keywords.slug %}">{{ keywords.name }}</a></li>
                            {% endfor %}
                            {% else %}
                            <li><a href="http://{{ site.domain }}">Tiempo Turco</a></li>
                            {% endif %}
                        </ul>
                    </section>
                </div>
            </div>
            <footer class="row">
                <div class="small-12 large-12 columns">
                    <a class="gn-icon-other gn-icon-mail"
                       href="mailto:?Subject={{ new.title }}&Body={{ new.content }} http://{{ site.domain }}{% url 'NewsDefaultView' new.created_date|date:'Y' new.created_date|date:'m' new.created_date|date:'d' new.slug %}"></a>
                    <a class="share-popup gn-icon-other gn-icon-facebook"
                       href="http://www.facebook.com/sharer.php?u=http://{{ site.domain }}{% url 'NewsDefaultView' new.created_date|date:'Y' new.created_date|date:'m' new.created_date|date:'d' new.slug %}&t={{ new.title }}"
                       target="_blank"></a>
                    <a class="share-popup gn-icon-other gn-icon-googleplus"
                       href="https://plus.google.com/share?url=http://{{ site.domain }}{% url 'NewsDefaultView' new.created_date|date:'Y' new.created_date|date:'m' new.created_date|date:'d' new.slug %}"
                       target="_blank"></a>
                    <a class="share-popup gn-icon-other gn-icon-twitter divider-right"
                       href="http://twitter.com/share?url=http://{{ site.domain }}{% url 'NewsDefaultView' new.created_date|date:'Y' new.created_date|date:'m' new.created_date|date:'d' new.slug %}&t={{ new.title }}&text={{ new.content }}"
                       target="_blank"></a>
                    <a class="gn-icon-other gn-icon-bubble"
                       href="{% url 'NewsDefaultView' new.created_date|date:'Y' new.created_date|date:'m' new.created_date|date:'d' new.slug %}"
                       title="Comentarios para {{new.title}}">
                        <span class="disqus-comment-count"
                              data-disqus-url="{% url 'NewsDefaultView' new.created_date|date:'Y' new.created_date|date:'m' new.created_date|date:'d' new.slug %}">#</span>
                    </a>
                </div>
            </footer>
        </article>
        {% empty %}
        <p> No se han publicado noticias que contenga la palabra clave {{ name|title }}, lo sentimos mucho, si quieres
            puedes enviarnos una noticia para que la públiquemos!</p>
        {% endfor %}
        {% if is_paginated %}
        <div class="pagination-centered">
            <ul class="pagination">
                {% if page_obj.has_previous %}
                <li class="arrow"><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
                {% else %}
                <li class="arrow unavailable"><a href="">&laquo;</a></li>
                {% endif %}
                {% for page_num in paginator.page_range %}
                <li
                {% if page_num == page_obj.number %} class="current" {% endif %} >
                    <a href="?page={{ page_num }}">{{ page_num }}</a>
                </li>
                {% endfor %}
                {% if page_obj.has_next %}
                <li class="arrow"><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
                {% else %}
                <li class="arrow unavailable"><a href="">&raquo;</a></li>
                {% endif %}
            </ul>
        </div>
        {% endif %}
    </div>
    <div class="small-10 large-3 columns">
        <h2>Recomendados</h2>
        {% for new in rnews %}
        <div data-article="">
            <a data-event="tile"
               href="{% url 'NewsDefaultView' new.created_date|date:'Y' new.created_date|date:'m' new.created_date|date:'d' new.slug %}">
                {% thumbnail new.first_image.image "150x150" as im %}
                <img src="{{ im.url }}" title="{{ new.first_image.name }}" alt="{{ new.first_image.name }}"/>
                {% empty %}
                <img src="{% static 'tiempoturco/dist/images/no-image.png' %}" width="150" title="{{ new.title }}"
                     alt="{{ new.title }}"/>
                {% endthumbnail %}
                <h3>{{ new.title }}</h3>
            </a>
        </div>
        {% empty %}
        <p>No hay noticias recomendadas disponibles.</p>
        {% endfor %}
        <h2>Más</h2>
        {% for new in mnews %}
        <div data-article="">
            <a data-event="tile"
               href="{% url 'NewsDefaultView' new.created_date|date:'Y' new.created_date|date:'m' new.created_date|date:'d' new.slug %}">
                <h3>{{ new.title }}</h3>
            </a>
        </div>
        {% empty %}
        <p>No hay mas noticias importantes noticias disponibles.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}
{% block otherscripts %}
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'tiempoturco'; // required: replace example with your forum shortname
    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function () {
        var nodes = document.getElementsByTagName('span');
        for (var i = 0, url; i < nodes.length; i++) {
            console.log(nodes[i].className.indexOf('disqus-comment-count') != -1);
            if (nodes[i].className.indexOf('disqus-comment-count') != -1) {
                nodes[i].parentNode.setAttribute('data-disqus-url', nodes[i].getAttribute('data-disqus-url'));
                url = nodes[i].parentNode.href.split('#', 1);
                if (url.length == 1) { url = url[0]; }
                else { url = url[1]; }
                nodes[i].parentNode.href = url + '#disqus_thread';
            }
        }
        var s = document.createElement('script');
        s.async = true;
        s.type = 'text/javascript';
        s.src = '//' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
</script>
{% endblock %}